doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gestionnaire de contact | Accueil
    link(rel="stylesheet", href="/assets/styles/main.css")
  body 
    h1 Gestionnaire de contact Personnel

    nav 
      ul
        li
          a(href="/") Accueil
        li
          a(href="/signup") S'inscrire
        li
          a(href="/login") Connexion
        li
          a(href="/profile") Profile
        li
          a(href="/profile/69/contacts") Contacts
