nav 
  ul
    li
      a(href="/") Accueil
    li
      a(href="/signup") S'inscrire
    li
      a(href="/login") Connexion
    li
      a(href="/logout") Déconnexion
    li
      a(href="/profile") Profile
    li
      a(href="/profile/69/contacts") Contacts