:root {
  --primary: mediumslateblue;
  --secondary: #333;
  --white: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}

h1 {
  font-size: 69px;
  color: var(--secondary);
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 54px 1fr 54px;
  grid-template-areas:
    'navigation'
    'container'
    'footer';
}

/* HEADER */
header {
  grid-area: navigation;
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
header nav {
  height: 54px;
  display: flex;
  align-content: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  transition: background-color 0.4s ease-in-out;
}
header nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 8px;
  color: var(--primary);
  transition: color 0.4s ease-in-out;
  text-transform: uppercase;
}
header nav ul li:hover {
  background-color: var(--primary);
}
header nav ul li:hover a {
  color: var(--white);
}

/* CONTAINER */
main {
  grid-area: container;
  background-color: var(--primary);
  box-shadow: 0 0 25px var(--secondary) inset;
  padding: 5%;
}
main > p {
  letter-spacing: 1.6px;
  margin: 20px 0px;
}
main section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
main section .user {
  background-color: var(--white);
  padding: 5%;
  width: 50%;
}
main section .user h2 {
  text-align: center;
  font-size: 28px;
  color: var(--primary);
}
main section .user p {
  margin-top: 20px;
  text-align: center;
  font-size: 48px;
  color: var(--secondary);
}

/* FOOTER */
footer {
  grid-area: footer;
  height: 54px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
