extends ../layout/layout.pug

block container
  main
    h1 Bienvenue
    p Ce site est un simple gestionnaire de contact indépendant pour chaque utilisateur inscrit sur cette plateforme.

    section(class="counter")
      .userRegistered
        h2 Personnes inscrites
          p 69

      .contactRegistered
        h2 Contacts inscrits
          p 139