extends ../layout/layout.pug

block container
  main
    h1 Bienvenue
    p Ce site est un simple gestionnaire de contact indépendant pour chaque utilisateur inscrit sur cette plateforme.

    section(class="counter")
      .user
        h2 Nombre d'utilisateur inscrit
          p 69